html, body {
    height: 100%;
}
body {
    margin: 0;
    color: white;
    overflow-x: hidden;
}

svg:hover {
    cursor: pointer;
}

.white-svg {
    fill: white;
}

.background-image {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0; 
    left: 0;
    z-index: -1;
}
