.flex {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    height: 100%;
    padding: 0;
    margin: 0;
}

.center {
    align-items: center;
    justify-content: center;
}

.playerControlBlock {
    height: 100%;
    display: block;
    margin-top: -41px;
}

.textAlignCenter {
    text-align: center;
}

.prevButton {
    position: absolute;
    margin-left: calc(-160px + 10px);
}

.nextButton {
    position: absolute;
    margin-left: calc(160px - 10px);
}

/* 160 - radius of circle */
.listOfTracksButton {
    position: absolute;
    margin-top: calc(-160px + 10px);
}

.pausePlay {
    position: absolute;
    height: 20px;
    margin-top: calc(160px - 10px);
}

.timerCircle {
    position: absolute;
    height: auto;
    width: auto;
}

.timeOfTrack {
    font-size: 3em;
}

.innerBlockWithAuthorTimeName {
    max-width: 220px;
}

.circleUnderTimeCircle {
    
}
