.flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    padding: 0;
    margin: 0;
}

.center {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.player-control-block {
    height: 100%;
    display: block;
    margin-top: -41px;
}


.text-align-center {
    text-align: center;
}

.prev-button {
    position: absolute;
    margin-left: -300px;
}

.next-button {
    position: absolute;
    margin-left: 300px;
}

.pause-play {
    position: absolute;
    margin-top: 300px;
}

.list-of-tracks-button {
    position: absolute;
    margin-top: -300px;
}

.timer-circle {
    position: absolute;
    height: auto;
    width: auto;
}

.inner-block-with-author-time-name {
    max-width: 220px;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    @supports (not (-ms-ime-align:auto))
    and (not (-moz-appearance:none)) {
        .next-button
        {
            margin-left: 150px;
        }

        .prev-button {
            margin-left: -150px
        }

        .pause-play {
            margin-top: 150px
        }

        .list-of-tracks-button {
            margin-top: -150px;
        }
    }
}
